__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.idea/
.vscode/
.venv/
.conda/

.git/
.gitignore
.env
.env.*
!.env.example

*.db
*.sqlite
*.sqlite3

data/
tests/
scripts/
experiments/
notes/
docs/
*.md